<div class="form">
  <label>{{ label }}</label>
  <select
    (change)="onSelectChange($event)"
    (blur)="onTouched()"
    [disabled]="isDisabled"
    [value]="valorAtual"
    [class.select-error]="exibirErro"
  >
    <option value="" disabled>
      {{ placeholder | translate }}
    </option>

    @for (opcao of options; track opcao.value) {
      <option [value]="opcao.value">
        {{ opcao.label | translate }}
      </option>
    }
  </select>

  @if (exibirErro) {
    <span class="error-message">{{ errorMessage }}</span>
  }
</div>
