<div class="container">
  <app-tabela-generica [dados]="listaAlunos" [colunas]="colunas"></app-tabela-generica>
  <div class="botoes">
    <app-botao variante="secundario" (acaoBotao)="abrirModal()">Adicionar Aluno</app-botao>
  </div>

  <app-modal titulo="Cadastro de Aluno" [(visivel)]="isModalAberto">
    <form [formGroup]="alunoForm" (ngSubmit)="AdicionarAluno()" class="formAluno">
      <app-form-field-text
        label="Nome Completo"
        placeholder="Digite o nome"
        formControlName="nome"
        [errorMessage]="
          alunoForm.get('nome')?.invalid && alunoForm.get('nome')?.touched
            ? 'O nome é obrigatório'
            : ''
        "
      >
      </app-form-field-text>

      <app-form-field-text
        label="CPF"
        placeholder="Digite o CPF"
        formControlName="cpf"
        [errorMessage]="
          alunoForm.get('cpf')?.invalid && alunoForm.get('cpf')?.touched
            ? 'O CPF é obrigatório'
            : ''
        "
      >
      </app-form-field-text>

      <app-form-field-text
        label="Email"
        placeholder="Digite o email"
        formControlName="email"
        [errorMessage]="
          alunoForm.get('email')?.invalid && alunoForm.get('email')?.touched
            ? 'Email inválido'
            : ''
        "
      >
      </app-form-field-text>

      <label>Data de Nascimento:</label>
      <input type="date" formControlName="dataNascimento" />
      @if (alunoForm.get('dataNascimento')?.invalid && alunoForm.get('dataNascimento')?.touched) {
        <span class="erro-texto">A data de nascimento é obrigatória</span>
      }

      <label>Sexo:</label>
      <select formControlName="sexo">
        <option value="" disabled selected>Selecione</option>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="Outro">Outro</option>
      </select>
      @if (alunoForm.get('sexo')?.invalid && alunoForm.get('sexo')?.touched) {
        <span class="erro-texto">O Sexo é obrigatório</span>
      }

      <button type="button" (click)="isModalAberto = false">Cancelar</button>
      <button type="submit" [disabled]="alunoForm.invalid">Adicionar aluno</button>
    </form>
  </app-modal>
</div>
