<div class="container">
  <div class="botoes-idioma">
    <app-botao (acaoBotao)="trocarIdioma('pt-BR')" [variante]="'secundario'">
      {{ 'IDIOMA.PORTUGUES' | translate }}</app-botao
    >
    <app-botao (acaoBotao)="trocarIdioma('en')" [variante]="'secundario'">
      {{ 'IDIOMA.INGLES' | translate }}</app-botao
    >
  </div>

  <app-tabela-generica
    [dados]="(listaAlunos$ | async) || []"
    [colunas]="colunas"
  ></app-tabela-generica>

  <div class="botoes">
    <app-botao variante="secundario" (acaoBotao)="abrirModal()">{{
      'ALUNO.BOTOES.ADICIONAR_ALUNO' | translate
    }}</app-botao>
  </div>

  <app-modal [titulo]="'ALUNO.MODAL.CADASTRO_TITULO' | translate" [(visivel)]="isModalAberto">
    <app-mensagem
      [(visivel)]="mostrarAlerta"
      [tipo]="tipoAlerta"
      [texto]="textoAlerta"
    ></app-mensagem>

    <form [formGroup]="alunoForm" (ngSubmit)="AdicionarAluno()" class="formAluno">
      <app-form-field-text
        [label]="'ALUNO.FORMULARIO.NOME_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.NOME_PLACEHOLDER' | translate"
        formControlName="nome"
        [errorMessage]="
          alunoForm.get('nome')?.invalid && alunoForm.get('nome')?.touched
            ? ('VALIDACAO.OBRIGATORIO' | translate)
            : ''
        "
      >
      </app-form-field-text>

      <app-form-field-text
        [label]="'ALUNO.FORMULARIO.CPF_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.CPF_PLACEHOLDER' | translate"
        formControlName="cpf"
        [errorMessage]="obterErroCpfCnpj()"
      >
      </app-form-field-text>

      <app-form-field-text
        [label]="'ALUNO.FORMULARIO.EMAIL_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.EMAIL_PLACEHOLDER' | translate"
        formControlName="email"
        [errorMessage]="
          alunoForm.get('email')?.invalid && alunoForm.get('email')?.touched
            ? ('ALUNO.FORMULARIO.EMAIL_INVALIDO' | translate)
            : ''
        "
      >
      </app-form-field-text>

      <app-form-field-text
        [label]="'ALUNO.FORMULARIO.DATA_NASCIMENTO_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.DATA_NASCIMENTO_PLACEHOLDER' | translate"
        formControlName="dataNascimento"
        type="date"
        [errorMessage]="obterErroDataNascimento()"
      >
      </app-form-field-text>

      <app-form-field-select
        [label]="'ALUNO.FORMULARIO.SEXO_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.SEXO_SELECIONE' | translate"
        [formGroup]="alunoForm"
        [options]="opcoesSexo"
        formControlName="sexo"
        [errorMessage]="
          alunoForm.get('sexo')?.invalid && alunoForm.get('sexo')?.touched
            ? ('VALIDACAO.OBRIGATORIO' | translate)
            : ''
        "
      >
      </app-form-field-select>

      <app-botao [tipo]="'submit'" [variante]="'primario'">
        {{ 'ALUNO.BOTOES.ADICIONAR_ALUNO' | translate }}
      </app-botao>

      <app-botao [tipo]="'button'" (acaoBotao)="fecharModal()" [variante]="'perigo'">
        {{ 'ALUNO.BOTOES.CANCELAR' | translate }}
      </app-botao>
    </form>
  </app-modal>
</div>
