$cor-texto-secundario: #6b7280;
$cor-borda: #e5e7eb;
$cor-fundo-cabecalho: #f9fafb;
$cor-hover-linha: #fef2f2;

.tabela-container {
  margin: 0 auto;
  overflow-x: auto; 
  border: 1px solid $cor-borda;
  border-radius: 8px;

}

.tabela-customizada {
  width: 100%; 
  border-collapse: collapse;
  text-align: left; 

  th, td {
    padding: 12px 16px;
    border-bottom: 1px solid $cor-borda;
    color: #374151;
  }

  th {
    background-color: $cor-fundo-cabecalho;
    font-weight: 600;
    color: $cor-texto-secundario;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: $cor-fundo-cabecalho;
    }
  }
}