<div class="tabela-container">
  <table class="tabela-customizada">
    <thead>
      <tr>
        @for (coluna of colunas; track coluna) {
          <th>{{ coluna.titulo }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of dados; track item.id) {
        <tr>
          @for (coluna of colunas; track coluna.chave) {
            <td>
              @if (coluna.chave === 'dataNascimento') {
                {{ $any(item)[coluna.chave] | date: 'dd/MM/yyyy' }}
              } @else {
                {{ $any(item)[coluna.chave] }}
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
