<div class="alerta-pagina">
  <app-mensagem
    [(visivel)]="alertaPagina.visivel"
    [tipo]="alertaPagina.tipo"
    [texto]="alertaPagina.texto"
  ></app-mensagem>
</div>

<div class="container">
  <div class="acoes-topo">
    <app-botao variante="secundario" (acaoBotao)="abrirModal()">{{
      'ALUNO.BOTOES.ADICIONAR_ALUNO' | translate
    }}</app-botao>
  </div>

  <app-filtro-lista
    [filtros]="filtrosAluno"
    (acaoFiltrar)="filtrarTabela($event)"
  ></app-filtro-lista>

  @if (resultado$ | async; as r) {
    <app-tabela-generica
      [dados]="r.itens"
      [colunas]="colunas"
      [acoes]="acoesTabela"
      (acaoClicada)="definirAcao($event)"
    ></app-tabela-generica>

    @if (r.totalPaginas > 1) {
      <div class="rodape-tabela">
        <div class="paginacao">
          <app-paginacao
            [paginaAtual]="r.paginaAtual"
            [totalPaginas]="r.totalPaginas"
            (mudarPagina)="mudarPagina($event)"
          ></app-paginacao>
        </div>
      </div>
    }
  }

  <app-modal [titulo]="tituloModal | translate" [(visivel)]="isModalAberto">
    <app-mensagem
      [(visivel)]="alertaModal.visivel"
      [tipo]="alertaModal.tipo"
      [texto]="alertaModal.texto"
    ></app-mensagem>

    <form [formGroup]="alunoForm" (ngSubmit)="salvarAluno()" class="formAluno">
      <app-form-field-text
        [label]="'ALUNO.FORMULARIO.NOME_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.NOME_PLACEHOLDER' | translate"
        formControlName="nome"
        [control]="alunoForm.get('nome')"
        [errorMessage]="'VALIDACAO.OBRIGATORIO' | translate"
      ></app-form-field-text>

      <app-form-field-text
        [label]="'ALUNO.FORMULARIO.CPF_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.CPF_PLACEHOLDER' | translate"
        formControlName="cpf"
        [control]="alunoForm.get('cpf')"
        [errorMessage]="alunoForm.get('cpf') | errorMessage | translate"
      ></app-form-field-text>

      <app-form-field-text
        [label]="'ALUNO.FORMULARIO.EMAIL_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.EMAIL_PLACEHOLDER' | translate"
        formControlName="email"
        [control]="alunoForm.get('email')"
        [errorMessage]="'ALUNO.FORMULARIO.EMAIL_INVALIDO' | translate"
      ></app-form-field-text>

      <app-form-field-text
        [label]="'ALUNO.FORMULARIO.DATA_NASCIMENTO_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.DATA_NASCIMENTO_PLACEHOLDER' | translate"
        formControlName="dataNascimento"
        type="date"
        [control]="alunoForm.get('dataNascimento')"
        [errorMessage]="alunoForm.get('dataNascimento') | errorMessage | translate"
      ></app-form-field-text>

      <app-form-field-select
        [label]="'ALUNO.FORMULARIO.SEXO_LABEL' | translate"
        [placeholder]="'ALUNO.FORMULARIO.SEXO_SELECIONE' | translate"
        [formGroup]="alunoForm"
        [options]="opcoesSexo"
        formControlName="sexo"
        [control]="alunoForm.get('sexo')"
        [errorMessage]="'VALIDACAO.OBRIGATORIO' | translate"
      ></app-form-field-select>

      <app-botao [tipo]="'submit'" [variante]="'primario'">
        {{ rotuloSubmit | translate }}
      </app-botao>

      <app-botao [tipo]="'button'" (acaoBotao)="fecharModal()" [variante]="'perigo'">
        {{ 'ALUNO.BOTOES.CANCELAR' | translate }}
      </app-botao>
    </form>
  </app-modal>
</div>
