<div class="navbar">
  <h3>Gestão de Turmas</h3>

  <nav class="navbar-links">
    @if (papel$ | async; as papel) {
      @if (papel === 'Admin' || papel === 'Coordenador' || papel === 'Docente') {
        <a routerLink="/alunos" routerLinkActive="link-ativo">{{ 'NAVBAR.ALUNOS' | translate }}</a>
      }
      @if (papel === 'Admin' || papel === 'Coordenador') {
        <a routerLink="/docentes" routerLinkActive="link-ativo">{{
          'NAVBAR.DOCENTES' | translate
        }}</a>
        <a routerLink="/dashboard" routerLinkActive="link-ativo">{{
          'NAVBAR.DASHBOARD' | translate
        }}</a>
      }
    }
  </nav>

  <div class="botoes-idioma">
    <app-botao (acaoBotao)="trocarIdioma('pt-BR')" [variante]="'secundario'">
      {{ 'IDIOMA.PORTUGUES' | translate }}</app-botao
    >
    <app-botao (acaoBotao)="trocarIdioma('en')" [variante]="'secundario'">
      {{ 'IDIOMA.INGLES' | translate }}</app-botao
    >
  </div>
</div>
