.botoes-idioma {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.navbar {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  gap: 16px;

  a {
    text-decoration: none;
    color: inherit;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  .link-ativo {
    font-weight: 700;
  }
}
